*{
    box-sizing: border-box;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
body{
    /*outline: solid red 1px !important; */
    background-size: 58px 58px;
    margin: auto 0;
    background-image:  repeating-linear-gradient(0deg, #3e3c3f, #3e3c3f 1.2000000000000004px, #e5e5f7 2.9000000000000004px, #e5e5f7);
}

.popup{
    display: none;
}

.visible{
    display: absolute;
    z-index: 7;
}

.head{
    background-color:#e5e5f7;
    width: 100%;
    height: 6rem;
    margin: 1rem auto;
    align-content: center;
    box-sizing: border-box;
    

}

h1{
    font-size: 3rem;
    text-align: center;
    justify-self: center;

}

.theme{
    background-color: #c5c5da71;
    backdrop-filter: blur(0.2rem);
    transition: backdrop-filter 0.4s ease-in-out;
    border-style: none;
}

.discr, .btndiv{
    justify-self: center;
    width: 30rem;
    text-align: center;
    padding: 1rem;
    border-radius: 0.8rem;
    margin: 0.8rem;

}

.discr{
    font-size: 1.2rem;
    transition: font-size 0.5s ease-in;
}

.discr:hover{
    font-size: 1.3rem;
    transition: font-size 1s ease-in;
}

.theme:hover{
backdrop-filter: blur(0.4rem);
transition: backdrop-filter 0.4s ease-in-out;

}

.inlinebtn{
    font-size: 5rem;
    border-radius: 4rem;
    padding: 0.5rem;
    cursor: pointer;
    backdrop-filter: none;
    transition: padding 0.5s ease-out;
    margin: 0.5rem;

}

.inlinebtn:hover{
    padding: 0.65rem;
    transition: padding 0.5s ease-in-out;
}

.scores{
    font-weight: 900;
    text-shadow: #3e3c3f 0 0.1rem 0.1rem;
}