*{
    box-sizing: border-box;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
body{
    /*
    background-size: 5px 100%,58px 58px;
    background-repeat: no-repeat,repeat;
    */
    background-color: #e5e5f7;
    margin: 0 auto;
    width: 100%;
    height: 100vh;

   /* background-image:  repeating-linear-gradient(to right, #444cf7, #444cf7 50px, #e5e5f7 10px),
                        repeating-linear-gradient(0deg, #858386, #a8a8a8 0.5000000000000004px, #e5e5f7 2.9000000000000004px, #e5e5f7);*/
    background: linear-gradient(#aacedf 10%, #e5e5f7a2 10%),
    linear-gradient(to right, #ebf8e100 10%, #ec3636 10% 10.2%, #ebf8e100 10.5%);
    background-size: 100% 25px, cover;
    background-repeat: repeat, no-repeat;

}

.popup{
    display: none;
}

.visible{

    justify-self: center;
    align-content: center;
    z-index: 7;
    width: 50%;
    height: 5rem;
    border-radius: 0.8rem;
    text-align: center;
    font-weight: 400;
    font-size: 1.2rem;
    transition: font-size 2s ease-in-out 0.5s;
}

.head{
    background-color:#f1f0fa;
    width: 100%;
    padding: 1.5rem;
    padding-top: 3rem;
    margin: 0 0 1rem 0;
    align-content: center;
    

}

h1{
    font-size: 3rem;
    text-align: center;
    justify-self: center;
    margin: auto;
    user-select: none;
    padding: 0.5rem 5rem;



    
}

h1:hover{
    animation-name: rotate;
    animation-duration: 2s;
    animation-direction: forwards;
}

@keyframes rotate {
    0%{
        transform:translateY(0rem)
    }
    100%{
        transform: translateY(-0.5rem);
    }
    
}

.theme{
    background-color: #c5c5da71;
    backdrop-filter: blur(0.2rem);
    transition: backdrop-filter 0.4s ease-in-out;
    border-style: none;
}

.discr, .btndiv{
    justify-self: center;
    width: 30rem;
    text-align: center;
    padding: 1rem;
    border-radius: 0.8rem;
    margin: 0.8rem;

}

.discr{
    font-size: 1.2rem;
    transition: font-size 0.5s ease-in-out;
}

.discr:hover, .visible:hover{
    font-size: 1.25rem;
    transition: font-size 1s ease-in-out;
}

.theme:hover{
backdrop-filter: blur(0.4rem);
transition: backdrop-filter 0.4s ease-in-out;

}

.inlinebtn{
    font-size: 5rem;
    border-radius: 4rem;
    padding: 0.5rem;
    cursor: pointer;
    backdrop-filter: none;
    transition: padding 0.5s ease-out;
    margin: 0.5rem;

}

.inlinebtn:hover{
    padding: 0.65rem;
    transition: padding 0.5s ease-in-out;
}

.scores{
    font-weight: 900;
    text-shadow: #3e3c3f 0 0.1rem 0.1rem;
}